{% extends 'base.html.twig' %}

{% block title %}Управление пользователями{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Пользователи</li>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h4>Список пользователей</h4>
            <a href="{{ path('app_user_new') }}" class="btn btn-primary">Создать нового</a>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Логин</th>
                    <th>Роли</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><a href="{{ path('app_user_show', { id : user.id }) }}">{{ user.login }}</a></td>
                        <td>
                            {% for role in user.roles %}
                                {{ enum('App\\Enum\\UserRoleEnum').tryFrom(role).getLabel() }}{{ loop.last ? '' : ', ' }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% if pageCount > 1 %}
                {% include('./_partials/pagination.html.twig') %}
            {% endif %}
        </div>
    </div>
{% endblock %}
