{% extends 'base.html.twig' %}

{% import "_macros/_macros.html.twig" as ui %}

{% block title %}Управление пользователями{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Пользователи</li>
{% endblock %}

{% block body %}
    {% include 'admin/user/_partials/filter.html.twig' %}

    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h4>Список пользователей</h4>
            <a href="{{ path('app_user_new') }}" class="btn btn-primary">Создать</a>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Логин</th>
                    <th>Роли</th>
                    <th>Должность</th>
                    <th>Отделы</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><a href="{{ path('app_user_show', { id : user.id }) }}">{{ user.login }}</a></td>
                        <td>
                            {% for role in user.roles %}
                                {{ ui.role_badge(role) }}
                            {% endfor %}
                        </td>
                        <td>{{ ui.position_badge(user.position) }}</td>
                        <td>
                            {% for department in user.departments %}
                                {{ department.name }}{{ loop.last ? '' : ', ' }}
                            {% else %}
                                Не заданы
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% if pageCount > 1 %}
                {% include('./_partials/pagination.html.twig') %}
            {% endif %}
        </div>
    </div>
{% endblock %}
